<footer class="bg-near-black bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
    <!--
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>
-->
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ http://www.miitbeian.gov.cn }}" style="font-size: 0.75rem;">
    辽ICP备17015880号-2
  </a>
  {{ partial "social-follow.html" . }}
  </div>
</footer>
